
{% extends "layouts/base.html" %}
{% block content %}
    <div class="container py-5">
        <section>
            <header>
                <h2>Pasión por la Repostería, Inspirada en lo Mejor de Europa</h2>
            </header>
            <p>Sweet Cake nació de un sueño en [año de fundación], en el corazón de [ciudad/país]. Nuestro fundador, [nombre del fundador], inició este viaje con una visión clara: traer el encanto y la sofisticación de la repostería francesa e italiana a nuestra ciudad. Con cada torta y cupcake, no solo buscamos ofrecer un producto, sino una experiencia que transporte a nuestros clientes a las calles de París o Roma con cada bocado.</p>
        </section>
        
        <section>
            <header>
                <h2>Compromiso con la Calidad y la Creatividad</h2>
            </header>
            <p>En Sweet Cake, nuestra misión es deleitar y sorprender a nuestros clientes con cada creación. Nos comprometemos a utilizar solo los ingredientes de más alta calidad, seleccionados meticulosamente para garantizar un producto final que no solo satisfaga, sino que exceda las expectativas de nuestros clientes. Nuestra pasión por la innovación nos impulsa a explorar constantemente nuevas recetas y técnicas, asegurando que cada visita a nuestra pastelería sea una nueva aventura.</p>
        </section>
        
        <section>
            <header>
                <h2>Los Pilares que Definen Sweet Cake</h2>
            </header>
            <ul>
                <li>Calidad Suprema: "Cada ingrediente es escogido cuidadosamente para asegurar un producto final perfecto."</li>
                <li>Atención al Detalle: "Desde el diseño hasta la entrega, cada paso del proceso es cuidado meticulosamente."</li>
                <li>Pasión por la Repostería: "Amamos lo que hacemos, y eso se refleja en cada torta y cupcake que creamos."</li>
                <li>Innovación Constante: "Nos esforzamos por estar siempre al día con las últimas tendencias y técnicas en el mundo de la repostería."</li>
            </ul>
        </section>
        
        <section>
            <header>
                <h2>Los Artistas Detrás de las Delicias</h2>
            </header>
            <p>Conoce al equipo de talentosos chefs pasteleros que con su habilidad y creatividad hacen posible la magia de Sweet Cake. Cada miembro de nuestro equipo aporta su toque único a nuestras creaciones, fusionando tradición con innovación y mucho amor.</p>
        </section>
    </div>
{% endblock content %}
    