{% extends "layouts/base.html" %}

{% block content %}
{% load static %}
<div>
  {% if messages %}
    <ul class="messages">
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                {% for message in messages %}
                    Swal.fire({
                        title: '{{ message.tags|capfirst }}!',
                        text: '{{ message }}',
                        icon: '{{ message.tags }}',
                        confirmButtonText: 'Ok'
                    });
                {% endfor %}
            });
        </script>
    </ul>
  {% endif %}

  {% if public_products %}
  <header class='category-header'>
    <div class='header-overlay'>
        <div class="container">
            <h1 class='text-center category-text py-5'>
                {% if product_type == "torta" %}
                    Tortas Sweet Cake: Una Celebración de Sabores
                {% elif product_type == "cupcake" %}
                    Cupcakes Sweet Cake: Pequeños Placeres Dulces
                {% else %}
                    {{ product_type|capfirst }} de Sweet Cake
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="category-header-image-container">
        <img class="category-header-image" src="
        {% if product_type == "torta" %}
            {% static 'images/header2.webp' %}
        {% else %}
            {% static 'images/header.webp' %}
        {% endif %}
        " alt="{{ product_type }}">
    </div>

  </header>

  <section class='categorias flex justify-content-center pb-5'>


    <div class='container py-5'>
        <div class='row gap-3 flex justify-content-center'>
            {% for product in public_products %}
                {% include "components/product-card.html" %}
            {% endfor %}
        </div>    
    </div>
  </section>

  {% endif %}
    <!-- Otras secciones -->
</div>
{% endblock %}