{% extends "layouts/base.html" %}
{% block content %}
{% load static %}

{% if messages %}
    <ul class="messages">
        <script type="text/javascript">
            document.addEventListener('DOMContentLoaded', function () {
                {% for message in messages %}
                    Swal.fire({
                        title: '{{ message.tags|capfirst }}!',  // Usamos `tags` para el título si es 'success', 'error', etc.
                        text: '{{ message }}',
                        icon: '{{ message.tags }}',  // `tags` en Django puede ser 'success', 'error', 'warning', etc.
                        confirmButtonText: 'Ok'
                    });
                {% endfor %}
            });
        </script>
{% endif %}

    <div>
        <header class='main-header'>
            <div class='header-overlay'>
                <div class='header-title'> 
                    <h1 class='main-title'>Cada Preparación,<br> Una Obra de Arte</h1>
                    <div class='header-buttons'>
                        <a class='btn header-btn' href= "{% url 'tortas' %}">Tortas</a>  |  
                        <a class='btn header-btn' href="{% url 'cupcakes' %}">Cupcakes</a>
                    </div>
                </div>  
            </div>
            <div class="imagen-header">
                <img class="object-fit-cover" src="{% static 'images/header.webp' %}" alt="cupcakes">
            </div>

        </header>
        <section class='welcome-section'>
            <div>
                <h2>Descubre el Placer de lo Auténtico</h2>
                <p>Bienvenido a Sweet Cake, donde cada preparación es una celebración de sabor y dulzura. Nuestra pasión por la repostería crea tortas y cupcakes que deleitan tus sentidos.<br><br>Cada detalle, desde los ingredientes selectos hasta las recetas innovadoras, está diseñado para ofrecerte una experiencia inolvidable.</p>
            </div>
        </section>

        <section class='featured-products'>
            <h2>Delicias Destacadas</h2>

            <section class='categorias flex justify-content-center pb-5'>
            
                <div class='container py-5'>
                    <div class='row row-featured gap-3 flex justify-content-center'>
                        {% for product in featured_tortas %}
                            {% include "components/product-card.html" %}
                        {% endfor %}
                        {% for product in featured_cupcakes %}
                            {% include "components/product-card.html" %}
                        {% endfor %}
                    </div>    
                </div>
              </section>








        </section>

        <section>
            <h2>Contenido Dinamico</h2>
            <p>La pasteleria tiene estos registros:</p>
            <ul>
            <li><strong>Tortas:</strong> {{ num_tortas }}</li>
            <li><strong>Tortas Exclusivas Clientes Logueados:</strong> {{ tortas_exclusive }}</li>
            <li><strong>Cupcakes:</strong> {{ num_cupcakes }}</li>
            <li><strong>Cupcakes Exclusivas Clientes Logueados:</strong> {{ cupcakes_exclusive }}</li>
            </ul>

            <p>Has visitado esta pagina {{ num_visits }}{% if num_visits == 1 %} vez{% else %} veces{% endif %}.</p> 
        </section>



    </div>

    <script type="text/javascript">
        var swiper = new Swiper(".mySwiper", {
          slidesPerView: 3,
          spaceBetween: 30,
          pagination: {
            el: ".swiper-pagination",
            clickable: true,
          },
        });
      </script>
{% endblock content %}

