{% load static %}
<footer class="footer text-center text-white flex flex-column">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="pb-4">
      <!-- Instagram -->
      <a
        href="#"
    
      >
      <img class="social" src="{% static 'images/instagram.svg' %}" alt="instagram">
    </a>
      </a>

        <!-- Facebook -->
      <a       
        href="#"
      >
      <img  class="social" src="{% static 'images/facebook.svg' %}" alt="facebook">
      </a>

      <!-- Twitter -->
      <a
        href="#"
      >
        <img class="social" src="{% static 'images/twitter.svg' %}" alt="twitter">
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="copyright text-center p-3 ">
      <p>© 2024 Sweet Cake. Sitio desarrollado con fines educativos para Desafio Latam. By Alvaro Acevedo</p>
  </div>
  <!-- Copyright -->
</footer>