{% load static %}
<footer class="footer">
  <!-- Section: Social media -->
  <div class="social">

      <!-- Instagram -->
      <a href="#">
        <img src="{% static 'images/instagram.svg' %}" alt="instagram">
      </a>
      <!-- Twitter -->
      <a href="#">
        <img src="{% static 'images/twitter.svg' %}" alt="twitter">
      </a>

  <!-- Section: Social media -->
  </div>

  <!-- Copyright -->
  <div class="copyright">
      <p>© 2024 Sweet Cake. Sitio desarrollado con fines educativos para Desafio Latam. By Alvaro Acevedo</p>
  </div>
  <!-- Copyright -->
</footer>